@model MooShark2.account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sessionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sessionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sessionExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sessionExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastLoggedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastLoggedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roles.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
