@model MooShark2.Models.AdminPanelViewModel

<main class="cont">
    <div class="row">
        <div class="col s12 m12 l6">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header cyan">
                    <h4 class="task-card-title">Users</h4>
                    <p class="task-card-date">@DateTime.Today.DayOfWeek,  @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                </li>
                    <a class="collection-link" href="@Url.Action("Index", "Admin/ManageUsers")">
                        <li class="collection-item avatar hover">
                            <span class="ultra-small">@Model.users.Count()</span>
                            <!--</span></br>-->
                            <span class="task-cat red darken-1">Users</span>
                        </li>
                    </a>
            </ul>
        </div>
        <div class="col s12 m12 l6">
            <ul id="task-card" class="collection with-header">
                <li class="collection-header purple">
                    <h4 class="task-card-title">Courses</h4>
                    <p class="task-card-date">@DateTime.Today.DayOfWeek,  @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                </li>

                <a class="collection-link" href="@Url.Action("Index", "Admin/ManageCourses")">
                    <li class="collection-item avatar hover">
                        <span class="ultra-small">@Model.courses.Count()</span>
                        <!--</span></br>-->
                        <span class="task-cat red darken-1">Courses</span>
                    </li>
                </a>
            </ul>
        </div>

    </div>
</main>